---
layout: default
---

<h2>Communication is your main job</h2>

<p><b>Communication is hugely important.</b> There are many decisions which you will make which will affect the registrants, volunteers, and other directors. It is critical that you communicate these clearly and consistently. It is critical that you can be reached during the day before, during, and after your competition(s) in case anyone has questions.
</p>
<p>How and when will people (competitors, volunteers, directors, spectators, family members) know what they need to know?</p>

<h2>All directors must read the following guides</h2>

<ul>
  <li><a href={{ "/guides/director_responsibilities.html" | prepend: site.baseurl }}>Director Guide</a></li>
  <li><a href={{ "/guides/00_generic.html" | prepend: site.baseurl }}>Generic Event Guide</a></li>
  <li><a href={{ "/guides/event_checklist.html" | prepend: site.baseurl }}>Generic Event Checklist</a></li>
  <li><a href={{ "/guides/overall.html" | prepend: site.baseurl }}>Overall Convention Questions</a></li>
</ul>

{{ content }}
